<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Hassan/Desktop/4">
        <classes>
            <class name="TestCases.LoginTest">
                <methods>
                    <include name="testLogin"/>
                    <include name="testStandareduser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>